body {
    background-image: url("https://media.bongda.com.vn/files/hai.phan/2020/09/17/ssss-2139.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}

.navbar {
    background-color: #df0d0d;
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: flex-end;
}

.button {
    display: flex;
}

.text {
    font-size: 50px;
}

.btn:hover {
    opacity: 0.8;
}

.btn+.btn {
    margin-left: 16px;
}

.btn--in {
    font-size: 30px !important;
    font-family: 'Arvo', serif;
    ;
}

.btn--out {
    font-size: 100%;
    font-family: 'Arvo', serif;
}

.btn--return {
    font-size: 100%;
    font-family: 'Arvo', serif;
}